# Python 인공지능 연구 동호회

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'             # 셀 내 모든 값 프린트, 기본은 'last_expr'

# Year 2 : 실전 Python to Deep Learning

- quiz, 기초 cell, 개별 풀이
- code review
- 개념과 technic 풀이

## 1 ~ 10까지 더하기 : tuple/list/range, function/default

In [ ]:
# a) 리스트, 튜플 등 시퀀스 또는 set으로 1, 2, ..., 10 전체를 메모리에 저장
#    => worst: 한 원소씩 순회하며 더하기
#    => algorithm: (첫 + 마지막 원소) * n / 2

# b) 1, 2, ..., 10 전체를 메모리에 저장하지 않고 한 숫자씩 받아 더하기 (range, iterator)

# c) 임의의 정수 a, b에 대해 [a + 1, a + 2, ..., b-1, b] 각 숫자를 모두 더하는 함수 작성

# d) 임의의 정수 a, b에 대해 [a + step, a + 2 * step, ..., ] 각 숫자를 모두 더하는 함수 작성(step 디폴트값은 1)

# e) d를 class로 작성

# f) best answer?

In [ ]:
# a) tuple/list/set

nums = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)      # all in memory : tuple/list/set/dict...
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]      # list: 원소 변경/삽입/추가/삭제 용이, more memory
nums = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}      # set: 원소 중복 제거, 순서 보장 X
nums = range(1, 11)                         # iterator

sum(nums)

# worse
result = 0
for n in nums:
    result += n
result

55

55

In [ ]:
# a) algorithm: (첫 + 마지막 원소) * n / 2     : best

nums_ = sorted(nums)                # nums.sort()
(nums_[0] + nums_[-1]) * len(nums_) / 2

55.0

In [ ]:
# b) range

nums = range(1, 11)         # range(11)


sum(nums)

# worse
result = 0
for n in nums:
    result += n
result

In [ ]:
# c, d) function/default


def sum_func(a, b):
    if a > b:
        a, b = b, a
    return sum(range(a, b + 1))


def sum_func2(a, b, step=1):
    if a > b:
        a, b = b, a
    return sum(range(a, b + 1, step))

In [7]:
sum_func2(10, 1, 2)

25

In [8]:
# e) class


class AddClass:
    
    def __init__(self, a, b, step=1):
        if a > b:
            a, b = b, a
        self.a = a
        self.b = b
        self.step = step

    def sum_all(self):
        return sum(range(self.a, self.b + 1, self.step))
    
    
sample = AddClass(1, 10, 2)
sample.sum_all()

25

In [ ]:
# f) best : algorithm + function

## 4자리수 단위로 숫자 구분하기

In [2]:
# 임의의 숫자에 대해 만단위, 억단위 등 4자리수 단위로 '_'를 넣어 구분하기

numbers = [200, 10000, 2220000, 33331111, 555556666]

# => '200', '1_0000', '222_0000', '3333_1111', '5_5555_6666'

In [3]:
# 10_0000 = 10만
# 100,000 = 100 thousand

n = 5_5555_6666             # int/float에서 _

n
str(n)

f"{n:,}"                    # f-string foramt specifier

555556666

'555556666'

'555,556,666'

In [4]:
# slicing: indexing과 다르게, 인덱스 범위를 벗어나도 ok!!!

s = 'abcdef'

def str_slice(ix):
    return s[:ix], s[ix:]

str_slice(3)
str_slice(-3)

str_slice(10)
str_slice(-10)

('abc', 'def')

('abc', 'def')

('abcdef', '')

('', 'abcdef')

In [5]:
# 문자열 뒤에서 4자리씩 가져오기(slicing)

n = 5_5555_6666

ns = str(n)
rs = []
while ns:
    rs.append(ns[-4:])
    ns = ns[:-4]

rs[::-1]
'_'.join(rs[::-1])

['5', '5555', '6666']

'5_5555_6666'

In [9]:
def num_format(num, k=4, mark='_'):
    rs = []
    ns = str(num)
    while ns:
        rs.append(ns[-k:])
        ns = ns[:-4]
    return mark.join(rs[::-1])


[num_format(x) for x in numbers]
[num_format(x, 3, ',') for x in numbers]
[num_format(x, 3, '.') for x in numbers]        # Europe
[num_format(x, 5, '/') for x in numbers]

['200', '1_0000', '222_0000', '3333_1111', '5_5555_6666']

['200', '1,000', '222,000', '333,111', '5,555,666']

['200', '1.000', '222.000', '333.111', '5.555.666']

['200', '1/10000', '222/20000', '3333/31111', '5/55555/56666']

In [10]:
# 문자열 뒤집어서 0, 4, 8, ... 인덱스로 slicing

ns = str(n)[::-1]
rs = [ns[i:i+4] for i in range(0, len(ns), 4)]
rs = [r[::-1] for r in rs][::-1]
'_'.join(rs)

'5_5555_6666'

In [11]:
# 4자리수 단위마다 '_'로 구분된 정수 str을 int형으로 바꿔보기

ns = '5_5555_6666'

int(
    ''.join(ns.split('_'))      # str.split & str.join(iterable)
)

int(
    ns.replace('_', '')         # str.replace
)

int(ns)                     # int/float에서 _

555556666

555556666

555556666

In [ ]:
# 임의의 숫자에 대해 3자리수 단위마다 ','로 구분하기

# => '200', '10,000', '2,220,000', '33,331,111', '555,556,666'

In [12]:
n = 5_5555_6666

f"{n:,}"            # f"{n:_}"

'555,556,666'

## 로또 6/45

In [ ]:
# 1 ~ 45가 적혀진 각 공에 대해 총 6개를 뽑는 simulation을 구하시오

# 예) [4, 10, 23, 40, 41, 44]

In [13]:
import random

# random.sample(range(1, 46), 6)            # random.sample(시퀀스/range, k: int)


def draw():
    return sorted(
        random.sample(range(1, 46), 6))


draw = lambda: sorted(random.sample(range(1, 46), 6))


draw()

[5, 7, 11, 12, 35, 45]

In [ ]:
# 한 회차에 각 숫자(1~45)가 출현할 확률은 얼마입니까?

In [14]:
# 각 숫자가 출현할 확률: (44C5 / 45C6)
# nCr = n! / r! / (n-r)!

import math

fac = lambda n: math.factorial(n)

# fac(44) / fac(5) / fac(39) / (fac(45) / fac(6) / fac(39))
# fac(44) / fac(5) / (fac(45) / fac(6))
6 / 45

0.13333333333333333

In [ ]:
# 각 회차의 결과 6개 숫자(list)들에 대해, 모든 회차의 결과가 주어졌을때 각 숫자의 총 출현 횟수 구하기

In [15]:
from collections import defaultdict

result = defaultdict(int)

def accumulate(a_draw):
    for n in a_draw:
        result[n] += 1
    return result

r = accumulate(draw())
r

defaultdict(int, {3: 1, 6: 1, 11: 1, 22: 1, 35: 1, 44: 1})

In [16]:
sorted(r)

[3, 6, 11, 22, 35, 44]

In [17]:
accumulate(draw())

defaultdict(int,
            {3: 1,
             6: 1,
             11: 1,
             22: 1,
             35: 1,
             44: 2,
             25: 1,
             30: 1,
             33: 1,
             36: 1,
             40: 1})

In [18]:
# 대수의 법칙: law of large numbers: 표본 평균 -> population 평균 수렴
# 총 10000회차

from collections import defaultdict

result = defaultdict(int)

def accumulate_(n):
    for _ in range(n):
        for n in draw():
            result[n] += 1

def print_dict(result):
    for k in sorted(result):    # keys = sorted(result.keys())
        # print(k, result[k])
        print(f"{k:2}\t{result[k]}")


accumulate_(10000)          # 1333.3...회
print_dict(result)

 1	1310
 2	1374
 3	1345
 4	1384
 5	1270
 6	1322
 7	1334
 8	1325
 9	1302
10	1338
11	1343
12	1361
13	1334
14	1385
15	1378
16	1350
17	1347
18	1371
19	1323
20	1341
21	1351
22	1352
23	1316
24	1278
25	1350
26	1344
27	1311
28	1299
29	1292
30	1385
31	1287
32	1320
33	1412
34	1283
35	1270
36	1280
37	1362
38	1351
39	1362
40	1297
41	1322
42	1314
43	1369
44	1306
45	1350

In [19]:
def sort_values(result):
    result_ = defaultdict(list)
    for k, v in result.items():
        result_[v].append(k)
    result__ = {k: result_[k] for k in sorted(result_)}
    return result__

sort_values(result)

{1270: [5, 35],
 1278: [24],
 1280: [36],
 1283: [34],
 1287: [31],
 1292: [29],
 1297: [40],
 1299: [28],
 1302: [9],
 1306: [44],
 1310: [1],
 1311: [27],
 1314: [42],
 1316: [23],
 1320: [32],
 1322: [41, 6],
 1323: [19],
 1325: [8],
 1334: [7, 13],
 1338: [10],
 1341: [20],
 1343: [11],
 1344: [26],
 1345: [3],
 1347: [17],
 1350: [25, 45, 16],
 1351: [38, 21],
 1352: [22],
 1361: [12],
 1362: [37, 39],
 1369: [43],
 1371: [18],
 1374: [2],
 1378: [15],
 1384: [4],
 1385: [30, 14],
 1412: [33]}