# Python 인공지능 연구 동호회
## 배경 및 필요성
- Python은 Guido van Rossum(네덜란드 소프트웨어 엔지니어)이 개발, 1991년 공개, 이후 2008년 Python3로 발전
- 간결하고 쉽고 일관된(consistent: Pythonic) 문법의 객체(object) 지향, 인터프리터 언어
- open source 정신으로 방대한 외부 패키지가 구축되어 있으며, 활용 용이: Deep Learning(DL) 관련 패키지들(구글의 Tensorflow, Meta의 Pytorch 등)이 잘 갖춰져 있음 -> DL 시작에 이상적 언어
- 프로그램 개발자의 코딩 시간 비용(고급인력 인건비) 문제가 점점 중요해지고, 개발자는 3:7의 비율로 쓰기:읽기에 시간을 보낸다는 조사 결과 -> 읽기 쉬운 코드 짜기!
- DL 기법은 ImageNet의 이미지 인식 대회에서 2012년 압도적으로 우승(Geoffrey Hinton, AlexNet)한 이후 ML계의 주류로 각광 받기 시작한 이래, 최근 chatGPT 등을 통해 대중의 폭발적 관심을 얻고 있음
- 딥러닝을 활용한 강화학습(RL: Reinforcement Learning)은 이세돌과 AlphaGo 바둑 대결(2016년)을 통해 그간 불가능하게 여겨졌던 바둑 분야에서 인공지능이 인간 능력을 압도할 수 있음을 입증했으며, 비록 훈련과 실제 적용에 까다로움이 있으나 rule 학습을 할 수 있는 인공지능으로 각광받고 있음
- 패턴 학습을 위한 딥러닝(DL)과 rule 학습을 위한 강화학습(DRL)의 원리 이해와 실제 구현을 위해, 가장 쉽고 접근성이 뛰어난 Python 언어의 기초부터 필요한 부분만 shortcut 학습/경험 공유하고, 점진적으로 지식/경험의 폭을 넓힘

## 연구 환경 및 목표
### 연구 환경
- wifi 등 인터넷 환경, 개인 노트북(인터넷 접속 가능, 고사양 필요 없음), 구글 계정(colab 사용), Python 입문서(제공)

### 동호회 가입 자격
- Python 코딩과 AI에 관심있는 누구나

### 연구 목표
1. DL(패턴 학습: 이미지, 문장 등)과 RL(rule 학습) 이해에서 직접 구현/응용까지를 목표로, 필요한 Python 언어와 패키지(Pytorch 등)의 최소 깊이 학습 -> 정확한 개념 -> 향후 확장 가능성
2. 추가적으로 가능하다면, 보다 깊이있는 이해와 구현을 위해
    - Python 고급 과정: 당장 필요하지는 않으나, 보다 효율적이고 깊이있는 구현
    - 딥러닝의 한계 극복: 설명 가능 AI 등
    - 일반 인공지능(AGI) 연구
    - Quantum computing 등에 대한 고민 : 근본적 병렬 컴퓨팅

### 진행 방식
- 격주 화요일 점심(12:00~13:00) 모임, 필요시 심도있는 토론을 위해 만찬 모임
- 제공되는 전체 학습 목차에 따라 개별 입문서 예습 후 점심 모임에서 주요사항 짚기, 또는 점심 모임의 주요사항을 개별적으로 입문서를 보며 복습 : 동호회 의견에 띠리 유동적으로 조정

# Python 환경 설정
- Google colab: 무료, 파이썬 환경과 CPU/GPU/TPU 등 사용 가능. 그러나 중요한 파일은 Google Drive 등에 별도 저장해야 하고, 세션 연결이 불안정할 수 있음
    - colab.research.google.com 접속(또는 구글에서 colab 검색)
        - shift enter: 셀 실행
        - alt/option enter: 셀 실행 + 아래 빈 셀 만들기
- 또는 local 가상환경을 만들어 개인 컴퓨터에서 실행: Anaconda 등 가상환경 관리자 설치, vscode 등 편집기(IDE) 설치, 개인 컴퓨터 사양에 따라 DL 속도 좌우
    - 가상환경 관리자는 Anaconda, venv, poetry 등 몇 가지 종류가 있으며 pyTorch 사용을 염두에 둘 경우 Anaconda 사용(anaconda.org)
    - 최근 poetry라는 가상환경 관리자가 각광받고 있음(python-poetry.org)
    - 초보자는 그냥 Anaconda 사용이 편리함

# Python 기초 프로그래밍

- 파일명.py    : 파이썬 스크립트 파일, 실행 가능: >python 파일명.py
- 파일명.ipynb : Jupyter notebook 파일. 코드와 실행 결과를 하나의 노트북에서 확인

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'             # 셀 내 모든 값 프린트, 기본은 'last_expr'

In [ ]:
# python version 확인: python3(2008년~, 하위 호환X)

import sys          # 표준 라이브러리 sys
sys.version         # sys의 version 속성

In [ ]:
# python reference

# 공식 홈: docs.python.org/3/search.html
# google/naver 검색: python ~
# help(~), ~?, ?~

# help(sum)
# ?sum
sum?

In [ ]:
# 외부 패키지(라이브러리) 검색: pypi.org 또는 anaconda.org

# 유용한 사이트:
# - codingdojang.com: 난이도순, 직접 풀어본 후 python 풀이 참고
# - wikidocs.net: 무료 ebook
# - kaggle.com/competitions

## 기초 문법

In [ ]:
# 대소문자 구분

a = 1
A = 2
a
A

In [ ]:
# block은 4칸 띄움(indentation) : 엄격 : if, for, while, 함수, class 등
# 세미콜론 안씀. 두 줄 이상을 한 줄에 쓰는 이상한 경우에만

a = 1; A = 2
a
A

In [ ]:
# 주석(comment) : #, ctrl/command /

# a = 1

In [ ]:
# 변수(객체)명
#   문자(_ 포함)부터 시작, 문자와 숫자 사용 가능, 대소문자 구분
#   사용불가 : 특수문자(+-/$@&% 등), 파이썬 키워드(if for while and or 등)

# a, a2, a2c, _a, __a, a_, _a_

In [ ]:
# 변수에 객체(object) 할당(assignment operator =)

a = 1       # type 지정 필요 없음
            # object(RHS) is evaluated & created before the assignment operation
            # label 'a' is attached(bound) to the object
b = a       # attaches label 'b' to the object that already has the label 'a'
            # object 1 is copied

x = y = z = 1_0000      # 10000, 10_000

x = 10
y = 20
# tmp = x
# x = y
# y = tmp

x, y = y, x         # 두 변수의 값 서로 바꾸기 : tuple/iterable unpacking

a
b
x
y

In [ ]:
# 변수 지우기

del a
del b, x, y, z

# 변수를 지우면 객체에 대한 reference가 사라짐 ->
# garbage collector : reference가 하나도 없는 객체는 삭제됨

In [ ]:
a

In [ ]:
# Hello, world!

print('Hello, world!')      # print(객체)
                            # print(객체1, 객체2, ...)
                            # print(객체1[, ...], sep=' ', end='\n')

In [ ]:
a = 'Hello, '
b = 'World'
a + b           # string concatenation

a = 1
b = 2
a + b           # int/float addition

In [ ]:
help(print)
print?

In [ ]:
a, b, c = 1, 2, 3

print(a, b, sep='_', end='')
print(b, c)

## 기초 자료형: int, float, str, bool

### int
- 숫자에 '.'이 없음

In [ ]:
x = 1

type(x)

In [ ]:
x = 123456789123456789      # 아무리 큰 수라도 가능: long type, unsigned 등 구분 없음
x

### float
- 숫자에 '.'이 있음

In [ ]:
x = 1.
type(x)

In [14]:
0.0
0.      # identical
.0      # identical

0.0

0.0

0.0

In [15]:
.335 + .1           # 64-bit double precision
                    # 금융 등 소수점 정확도가 중요한 분야에서는 decimal.Decimal 사용(고급)

0.43500000000000005

### str : Immutable Sequence

In [ ]:
"zzzz"

In [ ]:
x = '123abc'         # "", '''~''', \'
type(x)

In [ ]:
"abc"
'a"b"c'
"a'b'c"
# 'a\'b\'c'

In [ ]:
'''여러 줄
str'''

"""여러 줄
'str'"""

In [19]:
'파이썬' + 'Python'     # str + str: concat

'파이썬' * 3            # str * int: concat
3 * 'Python'          # int * str: concat

'파이썬Python'

'파이썬파이썬파이썬'

'PythonPythonPython'

In [ ]:
'ABC' + 'ABC'
'ABC' * 2

### bool

In [ ]:
True
False

x = True
type(x)

In [ ]:
5 >= 10     # 비교 OPERATOR

In [ ]:
5 <= 10

In [ ]:
# not, and, or

not True
not False

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
not (5 > 10)

### type casting

In [ ]:
int('10')
int(1.9)    # 버림
int(-1.9)

In [ ]:
float(1)
float('10.2')
int(float('10.2'))

In [ ]:
str(2)
str(2.0)

In [ ]:
int(True)
float(True)
int(False)
float(False)

In [ ]:
bool(0)         # 0, 0., '' -> False
bool(-2)        # 나머지 다   -> True

### None

In [ ]:
x = None
x
type(x)
bool(x)         # 0, 0., '', None -> False

### isinstance

In [ ]:
int()

In [ ]:
float()

In [ ]:
str()

In [ ]:
bool()

In [ ]:
# int, float, str, bool 등은 실제로는 class

# class ~ 규격화된 객체(정수, 부동소수점, 문자열, 불리언 등)를 만들어내는 factory : 속성과 메서드를 가짐

In [ ]:
# isinstance(객체, 클래스)

isinstance(1, int)

In [20]:
isinstance(1, bool)

False

In [ ]:
# Almost everything in Python is an object

dir(1)          # dir(객체) -> 객체의 속성, 메서드

## 기초 자료형 연산, assign 연산, method/함수, 연산 순서

### 숫자형(int & float)

In [ ]:
5 + 3
2 - 10
2 * 4

In [ ]:
6 / 3 # float

In [ ]:
# + - * ** / // % divmod

2 ** 3

In [ ]:
5 // 2

In [ ]:
5 % 2

In [ ]:
divmod(5, 2)    # -> (몫, 나머지)

In [ ]:
# += -= *= **= /= //= %=

x = 1
x += 2      # x = x + 2
x

In [ ]:
x = 1
x + 2
x

In [ ]:
x = 11
x %= 3  # x = x % 3
x

In [ ]:
# x++ == x += 1

In [ ]:
x **= 2
x

In [ ]:
x //= 4
x

In [ ]:
x %= 5
x

In [ ]:
# 정수 / 정수 및 int와 float간 연산 -> float

4 / 2

In [ ]:
1 + 1.

#### 함수로 연산하기

In [ ]:
# abs, round, max, min, ...  기본함수
# 함수명(인수...)

abs(-3.2)

round(2.546, 1)
round(2.546)        # int(2.546)

3.2

2.5

3

In [ ]:
int(2.9)

2

In [ ]:
max(5, 12, 13.0, 15)
min(5, 12, 13.0)

15

5

In [ ]:
pow(2, 3)
2 ** 3

8

8

#### math

In [ ]:
# 기본함수 vs. 표준모듈 vs. 외부모듈(numpy, pytorch)
# 자주씀   vs. import  vs. 별도로 설치해야
# abs, round

import math    # 모듈명

math.floor(4.99)    # 내림
math.ceil(3.14)     # 올림
math.sqrt(2)        # 제곱근

4

4

1.4142135623730951

In [ ]:
2 ** (1/2)

1.4142135623730951

In [ ]:
from math import floor, ceil, sqrt    # from 패키지명 import 객체/변수/함수/클라스...

floor
floor(4.99)

4

In [ ]:
floor = 3
floor(4.99)

TypeError: 'int' object is not callable

#### random

In [ ]:
import random

random.random()             # [0, 1)
random.randrange(1, 46)     # [시작, 끝)    random.randint(시작, 끝) -> [시작, 끝]

0.9310390415123089

35

In [ ]:
from random import random, randrange

random()
randrange(1, 46)

0.14347225093406535

10

In [ ]:
# random.sample(시퀀스, k: int, counts: Iterable[int])
# random.choice(시퀀스)
# random.shuffle(mutable 시퀀스)

In [ ]:
1 == '1'

In [ ]:
1 != 2

In [ ]:
5 > 4 and 4 > 3

In [ ]:
5 > 4 > 3

In [ ]:
a = 'hello'

True and a

In [ ]:
False and a

### str

In [ ]:
a = 'hello'     # 0,1,2,3,4 : 시퀀스
a[4]

'o'

In [ ]:
a[1:3]  # 1, 2*

'el'

In [ ]:
a[1:]

'ello'

In [ ]:
a[:3]

'hel'

In [ ]:
a[:]

'hello'

In [ ]:
a[-1]

'o'

In [ ]:
a[-2]

'l'

In [ ]:
a[:-1]

'hell'

In [ ]:
a[:]

'hello'

In [ ]:
s = 'abcdefghijkl'
start = 3
end = -3

s[start:end]  # step=1

'defghi'

In [ ]:
step = 2

s[start:end:step]

'dfh'

In [ ]:
s[::2]

'acegik'

In [ ]:
end = 5
step = -1
s[5:3:-1]

'fe'

In [ ]:
# + *

x = 'ab'
x + 'cd'
'zy' + x

In [ ]:
x * 3
3 * x

In [ ]:
# .strip, .rstrip, .lstrip

x = 'http://www.python.org  '
x.strip()

In [ ]:
x.strip('htp:/')

In [ ]:
# .upper, lower, capitalize, title, find, replace, ...
abs(-1)   # built-in 함수 : import 없이 그냥 사용 가능

x = 'I am a girl.'
x.upper()           # str객체.method()
x.lower()

1

'I AM A GIRL.'

'i am a girl.'

In [ ]:
x.capitalize()
x.title()

'I am a girl.'

'I Am A Girl.'

In [ ]:
x.count('a')

2

In [ ]:
x.find('z')
x.index('z')

-1

ValueError: substring not found

In [ ]:
x.find('ir')            # 첫 번째 매치 인덱스, 없으면 -1
x.find('a')
x.find('z')
x.replace(' ', '**')

8

2

-1

'I**am**a**girl.'

In [ ]:
len(x)          # 시퀀스 < Iterable : 길이

12

In [ ]:
# text 패턴 써치, 치환 등 전문 작업(regex: regular expression)을 위한 표준 패키지: re(고급)

#### format, f-string

In [ ]:
# format(객체, 포맷스트링)
# '~{}~{}~'.format('aaa', 'bbb')
# f'~{변수1} ~{변수2}'

In [ ]:
template = '{who}은(는) {first}색과 {second}색을 좋아해~'

template.format(who='나', first='빨간', second='파란')          # who, first, second = local variable
template.format(who='너', first='뻘건', second='퍼런')
template.format(who='you', first='red', second='blue')

'나은(는) 빨간색과 파란색을 좋아해~'

'너은(는) 뻘건색과 퍼런색을 좋아해~'

'you은(는) red색과 blue색을 좋아해~'

In [ ]:
first, second       # local variable

NameError: name 'first' is not defined

In [ ]:
first, second = '빨간', '파란'          # global variable

f'나는 {first}색과 {second}색을 좋아해~'    # global var 바로 사용 가능

'나는 빨간색과 파란색을 좋아해~'

In [ ]:
first, second           # global var

('빨간', '파란')

In [ ]:
age= 1/3

f'{age:.3f}살'      # f'{변수:포맷스티링}'

'0.333살'

In [ ]:
print('나도\n \'코딩\'입니다')

나도
 '코딩'입니다

In [ ]:
print('c:\\users')

c:\users

In [ ]:
print(r'c:\users')      # raw string : \를 글자 그대로 인식

c:\users

### bool

In [ ]:
# not and or : 논리연산자 순서

not True and False or not False
(not True) and False or (not False)
False and False or True
(False and False) or True
False or True

In [ ]:
# 값 비교연산자  : >, >=, <, <=, ==, !=

x = 1
y = 2

x > y
x == y
x != y

In [ ]:
# 객체 비교 : is

x = y = 10
z = None

x is y
x is not y
z is None
id(x)               # id(객체) -> 메모리 주소
id(y)
id(z)
id(None)

In [ ]:
# all(), any()

x = (1, 2, 3, 0)        # [1, 2, 3, 0]

all(x)
any(x)

### 연산 순서, (), 줄넘김

In [ ]:
# 연산 순서
    # () [] {}
    # **
    # 단항 + - ~
    # * / // %
    # + -
    # <, <=, >, >=, !=, ==, is, is not, in, not in
    # not 객체
    # and
    # or
    # if else
    # lambda

In [ ]:
# 줄넘김 \는 뒤에 스페이스 하나라도 있으면 에러
x = 1 +\
    2

# 괄호는 자유롭게 줄넘김 가능
y = (1 +
     2)             # preferred
x
y

In [ ]:
name = '연탄이'
age = 4
hobby = '산책'

print(name, str(age) + '살', hobby)

In [ ]:
# int, float, str, bool : 형변환

int('3')

In [ ]:
# =, ==
# indexing: from 0, -1, -0?
# slicing: 끝 미포함

## 기본 자료형: list, tuple, set, dict

In [ ]:
# 기초 자료형 : int/float/str/bool


# 기본 자료형 : list/tuple/set/dict

# list       : (mutable) Sequence   : indexing, slicing  : iterable
# str, tuple : (immutable) Sequence : indexing, slicing  : iterable

# set        : set                                       : iterable

# dict       : mapping              : {key: value}       : iterable

### list : Mutable Sequence

In [4]:
'abc'.index('b')
'abc'[-1]

['a', 'b', 'c'].index('b')
['a', 'b', 'c'][-1]

1

'c'

1

'c'

In [ ]:
x = [1, 'a', 3., True]          # 가장 편리한 자료 구조 : 원소 삽입/삭제/변경 자유, but 메모리 효율x
type(x)

list

### tuple : Immutable Sequence

In [2]:
x = (1, 'a', 3., True)          # 한 번 만들어진 객체를 바꾸지 않겠다는 의도(메모리 효율)
x = 1, 'a', 3., True            # identical
x

x = 1, 2                        # 원소 두 개인 tuple
x = 1,                          # 원소 하나인 tuple
type(x)

(1, 'a', 3.0, True)

tuple

In [5]:
name, age = 'James', 30         # tuple / iterable unpacking
(name, age) = ('James', 30)     # identical

name = 'James'
age = 30
name, age

('James', 30)

In [6]:
a, b = 1, 2         # 두 변수의 값 바꾸기: Python 외 언어

tmp = b
b = a
a = tmp
a, b

a, b = 1, 2         # tuple unpacking = tuple
a, b = b, a         # tuple unpacking = tuple
a, b                # tuple

(2, 1)

(2, 1)

### list/tuple/str: Sequence

In [70]:
# concat

[1, 2] + [3, 4]
(1, 2) + (3, 4)
'12' + '34'

[1, 2, 3, 4]

(1, 2, 3, 4)

'1234'

In [71]:
[1, 2] * 2
(1, 2) * 2
'12' * 2

[1, 2, 1, 2]

(1, 2, 1, 2)

'1212'

In [77]:
# indexing, slicing

In [75]:
# .index/count

[1, 2].count(1)
(1, 2).count(1)
'12'.count('1')

1

1

1

In [78]:
s = 'abc'
list(s)
tuple(s)

['a', 'b', 'c']

('a', 'b', 'c')

In [79]:
# 스트링.split, 스트링.join

suits = 'spades diamonds clubs hearts'.split()      # 스트링.split(sep=' ')
suits

' '.join(suits)             # 스트링.join(이터러블)
'_*^'.join(suits)

['spades', 'diamonds', 'clubs', 'hearts']

'spades diamonds clubs hearts'

'spades_*^diamonds_*^clubs_*^hearts'

In [80]:
cities = 'Seoul New York London'.split()        # ???
cities

['Seoul', 'New', 'York', 'London']

### set

In [8]:
x = {1, 'a', 3., 'abc'}          # unique elements, 순서 보장X : not sequence!
x
type(x)

{1, 3.0, 'a', 'abc'}

set

In [9]:
l = [1, 2, 3, 100] + [100, 200, 300]
l
set(l)                              # 중복 원소 없애줌

[1, 2, 3, 100, 100, 200, 300]

{1, 2, 3, 100, 200, 300}

### dict : Mapping : Python의 핵심 자료형

In [10]:
x = {'a': 1, 'b': 2}            # {key1: value1, ...}
x = dict(a=1, b=2)              # key가 변수명이 될 수 있다면(문자 및 _으로 시작, 문자, _, 숫자로 이루어짐, 특수문자/키워드X)

x
type(x)

{'a': 1, 'b': 2}

dict

### 생성, 조회(인덱싱, slice), 추가, 삭제, 변경

In [ ]:
# 빈 객체 생성

list(), []
tuple()             # 못바꾸는데 빈 객체 생성?
set()
dict(), {}          # {}는 빈 딕트, 빈 세트X

In [ ]:
# type casting

list((1, 2, 1))
tuple([1, 2, 1])
set([1, 2, 1])
list('abcba')           # list(str객체)
tuple('abcba')          # tuple(str객체)
set('abcba')            # set(str객체)

In [ ]:
# list 조회(indexing/slicing), 변경

l = [1, 2, 'a', True, 5]

l[0], l[3]
l[1:4]
l[1:4:2]
l[1:-1:2]
l[::2]
l[::-1]
l[:]

In [ ]:
# list 추가, 삭제

l.insert(2, 3)
l

l.append(0)
l

l.extend([1, 2, 3])
l

l.pop()             # returns & deletes the final element
l

del l[0]
l

In [ ]:
l.index(3)      # 첫 번째 match index, 없으면 error

In [ ]:
subway = [1, 2, 3]

subway.append(100)      # 끝에 원소 추가
subway

[1, 2, 3, 100]

In [ ]:
subway.extend( [1000, 2000])    # + [1000, 2000]
subway

[1, 2, 3, 100, 1000, 2000]

In [ ]:
subway.append( [1000, 2000])    # 끝에 '원소' 추가
subway

[1, 2, 3, 100, 1000, 2000, [1000, 2000]]

In [ ]:
subway.insert(2, '*')       # 인덱스에 추가
subway

[1, 2, '*', 3, 100, 1000, 2000, [1000, 2000]]

In [ ]:
subway[2] = '****'      # 원소 변경
subway

[1, 2, '****', 3, 100, 1000, 2000, [1000, 2000]]

In [ ]:
a = subway.pop()        # 마지막 원소 반환 후 삭제
a
subway

[1000, 2000]

[1, 2, '****', 3, 100, 1000, 2000]

In [ ]:
'I am a girl.'.count('a')

2

In [ ]:
subway.clear()
subway

[]

In [ ]:
nums = [5, 2, 4, 3, 1]

nums.sort(reverse=True)     # in-place 변환, None 반환
nums

[5, 4, 3, 2, 1]

In [ ]:
nums = [5, 2, 4, 3, 1]

nums_ = nums.sort()  # -> None
nums_               # None
nums                # sort된 리스트

[1, 2, 3, 4, 5]

In [ ]:
nums = [5, 2, 4, 3, 1]
nums_ = sorted(nums)    # nums는 그대로
nums_
nums

[1, 2, 3, 4, 5]

In [ ]:
nums = [5, 2, 4, 3, 1]

nums[::-1]

[1, 3, 4, 2, 5]

In [ ]:
'abcdefg~z'[::-1]

'z~gfedcba'

In [ ]:
l = []
l.append([1, 2, 3])
l.append([4, 5, 6])
l.append([7, 8, 9])
l
l[1]
l[1][1]

l.pop()
l

In [ ]:
# tuple 조회 : 인덱스, slice

t = (1, 0, 'a', True, 5)
t

t.index('a')
t.index(True)

In [ ]:
# list, tuple : + * += *=

[1, 2] + [3, 4]
[1, 2] * 3
3 * [1, 2]

(1,) + (2, 3)
3 * (1,)

In [ ]:
l = [1, 2]
t = tuple(l)

l *= 3
l
t *= 3
t

In [ ]:
# set

# a.add(원소)
# a.remove(원소)        # 원소가 없으면 에러 발생
# a.discard(원소)       # 원소가 없으면 그냥 넘어감
# a.pop()              # 임의의 원소 반환 및 삭제
# a.clear()

In [ ]:
# a | b, set.union(a, b)                    # a |= b
# a & b, set.intersection(a, b)             # a &= b
# a - b, set.difference(a, b)               # a -= b
# a ^ b, set.symmetric_difference(a, b)     # a ^= b

In [ ]:
# a <= b, a.issubset(b)
# a < b
# a >= b, a.issuperset(b)
# a > b
# a == b
# a.isdisjoint(b)

In [11]:
# dict

d = dict(a=1, b=2, c=3)         # {'a': 1, 'b': 2, 'c': 3}
d

d.keys()
d.values()
d.items()

{'a': 1, 'b': 2, 'c': 3}

dict_keys(['a', 'b', 'c'])

dict_values([1, 2, 3])

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [ ]:
# 조회

d['a']                      # 없으면 KeyError
d.get('c')                  # default=None
d.get('z', 'not found')

In [ ]:
# 변경, 추가

d['a'] = 0
d['z'] = 'z'
d

In [ ]:
# 삭제

d.pop('z')
d

del d['c']
d

In [ ]:
# 업데이트 : 변경 + 추가

d.update({'b': 100, 'x': 'a'})
d.update(dict(b=100, x='a'))        # identical
d |= dict(b=100, x='a')             # identical
d

In [ ]:
# collection type : sequence(list, tuple, str) + set + mapping
# -> len(객체), 원소 in 객체, iterable
# sequence는 reversed() : from 3.6

In [ ]:
len(d)
'a' in d
'z' in d
'x' not in d

### sequence comparison

In [ ]:
(1, 2, 3) > (1, 1, 100)         # tuple/sequence comparison

In [13]:
'abc' > 'abC'                   # ord('c'), ord('C')

True

(99, 67)

## 제어: if, for/while, range, enumerate

In [ ]:
# if 객체/expression->bool:       # True/False, falsy: 0, 0., '', None, len 0
#     조건 만족하면 실행 


# if 객체/expression->bool:
#     조건 만족하면 실행 
# else:
#     아니면 실행


# if 객체/expression->bool:
#     조건 만족하면 실행 
# elif 객체/expression:
#     앞에 아니고 이 경우이면 실행


# if 객체/expression->bool:
#     조건 만족하면 실행             # mutual exclusion
# elif 객체/expression:
#     앞에 다 아니고 이 경우이면 실행   # mutual exclusion
# elif 객체/expression:
#     앞에 다 아니고 이 경우이면 실행   # mutual exclusion
# else:
#     앞에 다 아니면 실행            # mutual exclusion

In [87]:
n = 0

if n < 5:
    print(f'n: {n} is smaller than 5')

if n:
    print(f'n: {n} is truthy')
else:
    print(f'n: {n} is falsy')

l = []
if l:                       # if len(l) > 0
    print('l is truthy')
else:
    print('l is falsy')

n: 0 is smaller than 5
n: 0 is falsy
l is falsy

In [89]:
l = [[]]
len(l)

if l:
    print('l is truthy')
else:
    print('l is truthy')

1

l is truthy

In [ ]:
# while 객체/expression:
#     작업1                  # 실행됨
#     continue              # 아래 실행X, 바로 while문 조건으로 : skip
#     작업2
#     break                 # 현재 loop만 빠져나감(한 단계)
#     작업3

In [ ]:
# 변수 초기값
# while True:     # 무한 루프
    # 작업
    # if 중단 조건:
    #     break

In [46]:
# 1, 2, ..., 10까지 합

i = 1
total = 0
while i <= 10:
    total += i
    i += 1
total

55

In [ ]:
# for 변수 in iterable:     # Sequence(리스트/튜플/str), set, dict, range
#     pass
#     continue/break

In [ ]:
# range(stop)               # (0, 1, ..., stop-1)
# range(start, stop)        # (start, start + 1, ..., stop-1)
# range(start, stop, step)  # (start, start + step, ..., start + _ * step < stop)

In [ ]:
# enumerate(iterable)          -> (0, iterable[0]), (1, iterable[1]), ...
# enumerate(iterable, start=0) -> (start, iterable[0]), (start+1, iterable[1])

In [48]:
# 1, 2, ... 10까지 합

total = 0
for i in range(1, 11):
    total += i
total


# alt
sum(range(1, 11))       # sum(이터러블)

55

55

In [37]:
l = ['a', 'b', 'c', 'd', 'z']

# 각 원소를 (index)값 형식으로 한 줄에 print
for i in range(len(l)):         # worst : index 순회
    print(f'({i}){l[i]}', end=' ')
print()

# Pythonic!
for i, ch in enumerate(l):
    print(f'({i}){ch}', end=' ')
print()

(0)a (1)b (2)c (3)d (4)z
(0)a (1)b (2)c (3)d (4)z

In [ ]:
# 다만, dict인 경우

d = dict(a=1, b=2, c=3)     # d = {k: i for i, k in enumerate('abc', 1)}
d                           # d = {k: i + 1 for i, k in enumerate('abc')}

for x in d:
    print(x, end=' ')
print()

for x in d.keys():          # d 그냥 써도 같음
    print(x, end=' ')
print()

for x in d.values():
    print(x, end=' ')
print()

for x in d.items():
    print(x, end=' ')

{'a': 1, 'b': 2, 'c': 3}

a b c
a b c
1 2 3
('a', 1) ('b', 2) ('c', 3)

In [31]:
for k, v in d.items():      # tuple/iterable unpacking
    print(k, v)
    # print(f'Key {k}의 Value는 {v}입니다.')

a 1
Key a의 Value는 1입니다.
b 2
Key b의 Value는 2입니다.
c 3
Key c의 Value는 3입니다.

## comprehension : list/set/dict, gen-exp

In [32]:
# list-comp

# [변수expression for 변수 in iterable]
# [변수expression for 변수 in iterable if 조건]

# 1~10 중 홀수만 구해서 제곱하기
[i ** 2 for i in range(1, 11) if i % 2 == 1]    # if i % 2

# identical
result = []
for i in range(1, 11):
    if i % 2:
        result.append(i ** 2)
result

[1, 9, 25, 49, 81]

[1, 9, 25, 49, 81]

In [ ]:
# [expression for 변수1 in iterable1 for 변수2 in itetable2]
# [expression for 변수1 in iterable1 if 조건1 for 변수2 in itetable2]
# [expression for 변수1 in iterable1 for 변수2 in itetable2 if 조건2]
# [expression for 변수1 in iterable1 if 조건1 for 변수2 in itetable2 if 조건2]

# result = []
# for 변수1 in iterable1:
#     if not 조건1:
#         continue
#     for 변수2 in iterable2:
#         if 조건2:
#             result.append(expression)

In [51]:
# set comprehension
l = [1, 2, 3, 100, 100, 100]

set(l)
s = {n * 2 for n in l}
s

{1, 2, 3, 100}

{2, 4, 6, 200}

In [24]:
# dict comprehension

names = ['Kim', 'Lee', 'Park', 'Jeong']

scores = [55, 65, 75, 15]

names
scores

d = {name: scores[i] for i, name in enumerate(names)}       # see zip
d

['Kim', 'Lee', 'Park', 'Jeong']

[55, 65, 75, 15]

{'Kim': 55, 'Lee': 65, 'Park': 75, 'Jeong': 15}

In [50]:
# gen-exp

# 1 ~ 1_0000까지 각 숫자를 제곱해서 더하기
nums = (i * i for i in range(1_0000))
nums
sum(nums)

333283335000

In [53]:
nums = (i * i for i in range(1_0000))

next(nums)
next(nums)
next(nums)          # 내부적으로 위치 기억

0

1

4

In [56]:
nums = (i * i for i in range(1_0000))

sum(nums)
sum(nums)       # 한 번 순회하면 소진됨
next(nums)

333283335000

0

StopIteration:

### quiz

In [91]:
# 임의의 숫자에 대해 만단위, 억단위 등 4자리수 단위로 '_'를 넣어 구분해보세요~

numbers = [200, 10000, 2220000, 33331111, 555556666]

# 답 : '200', '1_0000', '222_0000', '3333_1111', '5_5555_6666'

In [94]:
# '002', '0000_1', '0000_222', '1111_3333', '6666_5555_5'

# for each num:
num = numbers[-1]           # 555556666
num_str = str(num)
num_rev = num_str[::-1]     # '666655555'

# num_rev[0:4], num_rev[4:8], num_rev[8:12], ...
num_rev_ = [num_rev[i:i+4] for i in range(0, len(num_rev), 4)]    # 0, 4, 8
num_rev_
'_'.join(num_rev_)
'_'.join(num_rev_)[::-1]

['6666', '5555', '5']

'6666_5555_5'

'5_5555_6666'

In [96]:
result = []
for num in numbers:
    num_str = str(num)              # str type-cast
    num_rev = num_str[::-1]         # reverse
    # num_rev[0:4], num_rev[4:8], ...
    nums_rev_ = [num_rev[i: i+4] for i in range(0, len(num_rev), 4)]
    nums_back = '_'.join(nums_rev_)
    nums_result = nums_back[::-1]
    print(num, nums_result)
    result.append(nums_result)
result

200 200
10000 1_0000
2220000 222_0000
33331111 3333_1111
555556666 5_5555_6666

['200', '1_0000', '222_0000', '3333_1111', '5_5555_6666']

In [98]:
# 함수: code 일반화/재사용
# def 함수명(인수):
#     함수 본문 block
#     return 결과값    # 생략시 return None

def num_format(numbers, n_group, sep):
    result = []
    for num in numbers:
        num_str = str(num)              # str type-cast
        num_rev = num_str[::-1]         # reverse
        # num_rev[0:4], num_rev[4:8], ...
        nums_rev_ = [num_rev[i: i+n_group] for i in range(0, len(num_rev), n_group)]
        nums_back = sep.join(nums_rev_)
        nums_result = nums_back[::-1]
        print(num, nums_result)
        result.append(nums_result)
    return result

num_format(numbers, 4, '_')
num_format(numbers, 3, ',')

200 200
10000 1_0000
2220000 222_0000
33331111 3333_1111
555556666 5_5555_6666

['200', '1_0000', '222_0000', '3333_1111', '5_5555_6666']

200 200
10000 10,000
2220000 2,220,000
33331111 33,331,111
555556666 555,556,666

['200', '10,000', '2,220,000', '33,331,111', '555,556,666']

In [100]:
# quiz: 4자리수 단위마다 '_'로 구분된 정수 str을 int 형으로 바꿔보세요~


# quiz: 3자리수 단위마다 ','로 구분된 정수 str을 int 형으로 바꿔보세요~
nums_comma = num_format(numbers, 3, ',')
nums_comma

# 1. 스트링.split -> join
# 2. 스트링.replace

200 200
10000 10,000
2220000 2,220,000
33331111 33,331,111
555556666 555,556,666

['200', '10,000', '2,220,000', '33,331,111', '555,556,666']

## iterable unpacking

In [ ]:
x, y = 1, 2             # tuple unpacking

x, y = y, x

In [ ]:
a = {2, 1}          # set([2, 1])
a0, a1 = a
a0, a1              # 순서 보장X : sequence X

(1, 2)

In [58]:
d = dict(a=1, b=2)      # Python 3.6이상부터 dict 순서 보장

x, y = d
x, y

a, b = d
a, b

('a', 'b')

('a', 'b')

## 함수: def, return, yield, parameters

In [ ]:
# def 함수명():
# def 함수명(인수):
# def 함수명(인수1, 인수2, ...):
# def 함수명(인수1, ..., 인수5=디폴트값, 인수6=디폴트값):
#     # 함수 본문
#     return 결과값/객체        # 생략 하면: return None

In [ ]:
# positional parameter
# keyword parameter

# def 함수명(*args, **kwargs):
#     print(args)
#     print(kwargs)

### quiz

In [ ]:
# 임의의 객체에 대해 hash값을 주는 함수가 있을때, 처음 5자리가 '0'이 될 때까지 nonce값을 구하시오 : ~ 비트코인 PoW

# import json
# from hashlib import hash

# def get_hash(obj, nonce):
#     obj_ = json.dumps(obj).encode()
#     nonce = str(nonce).encode()
#     return hash(obj + nonce).hexdigest()

# obj, nonce = dict(), 0
# while get_hash(obj, nonce)[:5] != '0' * 5:
#     nonce += 1

## .sort, sorted()

In [ ]:
# 리스트.sort()     # in-place 변환, -> None 반환
# sorted(이터러블) -> sorted list 반환

In [ ]:
# 리스트.sort(key=None, reverse=False)
# sorted(이터러블, key=None, reverse=False)

# key=one-arg 함수/메서드/callable -> 비교가능한 값(int, float, str, tuple/sequence, ...)

## zip

In [62]:
a = 'abc'
b = range(3)

zip(a, b)

list(zip(a, b))

for x in zip(a, b):
    print(x)

for x0, x1 in zip(a, b):
    print(x0, x1)

[('a', 0), ('b', 1), ('c', 2)]

('a', 0)
('b', 1)
('c', 2)
a 0
b 1
c 2

In [1]:
a = 'abcdef'
b = range(3)
c = range(5)

result = zip(a, b, c)           # zip(*iterables, strict=False)
list(result)                    # 가장 짧은거 기준 조용히 끝냄

[('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]

In [67]:
import itertools

a = 'abcdef'
b = range(3)
c = range(5)

list(itertools.zip_longest(a, b, c))    # fillvalue=None

for x, y, z in itertools.zip_longest(a, b, c, fillvalue='없음'):
    print(x, y, z)

[('a', 0, 0),
 ('b', 1, 1),
 ('c', 2, 2),
 ('d', None, 3),
 ('e', None, 4),
 ('f', None, None)]

a 0 0
b 1 1
c 2 2
d 없음 3
e 없음 4
f 없음 없음

In [69]:
a = 'abc'
b = range(3)

list(zip(a, b))

result = zip(a, b)
list(zip(*result))          # zip(*zip(a, b))

[('a', 0), ('b', 1), ('c', 2)]

[('a', 'b', 'c'), (0, 1, 2)]

## 표준 패키지: copy, random, math, time, datetime, collections(namedtuple, DefaultDict), ...

### copy

In [110]:
x = 1
y = x

x = 2
x
y       # 1 or 2?

2

1

In [111]:
x = [1, 2, 3]
y = x               # mutable sequence

x[0] = 100
x
y           # [1, 2, 3] or [100, 2, 3]?

[100, 2, 3]

[100, 2, 3]

In [112]:
x = {1, 2, 3}
y = x               # set (mutable)

x.add(5)
x
y

{1, 2, 3, 5}

{1, 2, 3, 5}

In [113]:
x = dict(a=1, b=2)
y = x               # dict (mutable)

x['c'] = 10
x
y

{'a': 1, 'b': 2, 'c': 10}

{'a': 1, 'b': 2, 'c': 10}

In [109]:
import copy

x = [1, 2, 3]
y = copy.copy(x)

x[0] = 100
x
y

[100, 2, 3]

[1, 2, 3]

In [116]:
x = [1, 2, 3, [10, 11, 12]]
y = copy.copy(x)

x[3][0] = 4
x
y

[1, 2, 3, [4, 11, 12]]

[1, 2, 3, [4, 11, 12]]

In [117]:
x = [1, 2, 3, [10, 11, 12]]
y = copy.deepcopy(x)

x[3][0] = 4
x
y

[1, 2, 3, [4, 11, 12]]

[1, 2, 3, [10, 11, 12]]

### random

In [131]:
import random

# 로또 6-45
random.sample(range(1, 46), 6)      # random.sample(시퀀스, int) -> list : 비복원 추출

result = [random.randrange(1, 46) for _ in range(6)]    # 복원 추출
# result = []
# for _ in range(6):
#     result.append(random.randrange(1, 46))
result

[39, 18, 2, 25, 31, 33]

[1, 20, 38, 36, 1, 9]

In [125]:
# random.choice(시퀀스) -> 랜덤 원소
# random.shuffle(뮤터블시퀀스) -> inplace, -> None

# 1명 당첨자 뽑기
N = 10
random.choice(range(N))

# 카드 섞기
cards = list(range(1, 11)) + list('JQK')
cards
random.shuffle(cards)
cards

9

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'J', 'Q', 'K']

[4, 6, 'K', 7, 5, 1, 'J', 9, 10, 3, 8, 2, 'Q']

### math

In [133]:
import math

math.exp(1)
math.sqrt(2)

2.718281828459045

1.4142135623730951

### time

In [134]:
import time

time.time()
# time.sleep(seconds)

1725421213.792876

In [136]:
t0 = time.time()

for _ in range(10):
    t1 = time.time()
    # 뭔가 작업
    time.sleep(1)
    
    t2 = time.time()
    print(f'{t2-t1:.2f}초 소요')

print(f'총 {time.time()-t0:.2f}초 소요')

1.00초 소요
1.01초 소요
1.00초 소요
1.00초 소요
1.01초 소요
1.00초 소요
1.01초 소요
1.01초 소요
1.00초 소요
1.00초 소요
총 10.05초 소요

### datetime

In [137]:
import datetime as dt

x = dt.datetime.now()
x

datetime.datetime(2024, 9, 4, 12, 43, 7, 107174)

In [138]:
x.strftime('%Y.%m.%d %X')   # %H:%M:%S

'2024.09.04 12:43:07'

In [140]:
y = '2024.09.04 12:43:07'
dt.datetime.strptime(y, '%Y.%m.%d %X')

datetime.datetime(2024, 9, 4, 12, 43, 7)

### namedtuple

In [142]:
from collections import namedtuple

Record = namedtuple('Record', 'name age height')    # ['name', 'age', 'height']

t = Record('James', 30, 175)
t

Record(name='James', age=30, height=175)

In [144]:
t[0], t[1], t[2]
t.name, t.age, t.height

('James', 30, 175)

('James', 30, 175)

In [146]:
type(t)

isinstance(t, tuple)

__main__.Record

True

### defaultdict

In [147]:
d = dict(a=1, b=2)

d['c']

KeyError: 'c'

In [148]:
if 'c' in d:
    print(d['c'])
else:
    print("no d['c']")

no d['c']

In [150]:
from collections import defaultdict

d = defaultdict(int)    # default_factory: no-arg callable
int()

s = 'ababaaabbc'
for ch in s:
    d[ch] += 1
d

0

defaultdict(int, {'a': 5, 'b': 4, 'c': 1})

In [151]:
d = defaultdict(list)

s = 'ababaaabbc'
for ch in s:
    d[ch].append(ch)
d

defaultdict(list,
            {'a': ['a', 'a', 'a', 'a', 'a'],
             'b': ['b', 'b', 'b', 'b'],
             'c': ['c']})

In [152]:
x = defaultdict(list, d)    # (default_factory, 초기화 딕트)
x

defaultdict(list,
            {'a': ['a', 'a', 'a', 'a', 'a'],
             'b': ['b', 'b', 'b', 'b'],
             'c': ['c']})

## 예외 처리: assert, raise, try/except/else/finally

## 클래스: class, 속성(클래스/인스턴스), 메서드(클래스/인스턴스/스태틱)

In [ ]:
# class, instance 속성/메서드

# class 클래스명:
# class 클래스명(상속할클래스):
#     def __init__(self, 인수):
#         초기화 코드(인스턴스 속성 등)
#     def 인스턴스_메서드(self, 인수):
#         pass

# 인스턴스객체 = 클래스명(인수)

In [43]:
class SampleClass:              # (object) 기본 상속
# class SampleClass(object):
    
    def __init__(self, num):    # 최초 setting/실행
        self.number = num           # instance attribute
        self.string = str(num)      # instance attribute

    def get_number_multiplied(self, times):     # instance method
        return self.number * times
    
    def get_string_multiplied(self, times):     # instance method
        return self.string * times

sample = SampleClass(7)     # instance 생성
sample                      # instance 객체

In [45]:
sample.number                       # instance 속성

sample.get_number_multiplied(3)     # instance method

sample.get_string_multiplied(3)

7

21

'777'

In [ ]:
# __repr__

In [ ]:
# __str__

## 외부 패키지: numpy, matplotlib, pandas

# Deep Learning (DL)
- 1989: neural networks (nn) and DL as a way of replacing any mathematical function in an approximate way(George Cybenko, Approximation by Superpositions of Sigmoidal Functions)
- GPU for gaming : performance & affordability
- 2009: training nn is based on performing lots of matrix operations and these GPUs can speed up training as well as make larger, deeper architectures(Rajat Raina et al., Large-Scale Deep Unsupervised Learning Using Graphics Processors)
- 2010s: Dropout 등 DL technic 발전 -> TPU
- 2012년까지 ImageNet competition (14 million+ pictures, manually labeled into 20000 categories) error rate 25% -> DL(AlexNet w/ MaxPool, Dropout, ReLU) 16%로 우승
- 2015, ResNet(Microsoft) 3.6% (사람 평균 5%)

# pytorch
- open source library released by Facebook in 2017