# Python 인공지능 연구 동호회

In [20]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'             # 셀 내 모든 값 프린트, 기본은 'last_expr'

# Year 2 : 실전 Python to Deep Learning

- quiz, 기초 cell, 개별 풀이
- code review
- 개념과 technic 풀이

## 1 ~ 10까지 더하기 : tuple/list/range, function/default

In [ ]:
# a) 리스트, 튜플 등 시퀀스 또는 set으로 1, 2, ..., 10 전체를 메모리에 저장
#    => worst: 한 원소씩 순회하며 더하기
#    => algorithm: (첫 + 마지막 원소) * n / 2

# b) 1, 2, ..., 10 전체를 메모리에 저장하지 않고 한 숫자씩 받아 더하기 (range, iterator)

# c) 임의의 정수 a, b에 대해 [a + 1, a + 2, ..., b-1, b] 각 숫자를 모두 더하는 함수 작성

# d) 임의의 정수 a, b에 대해 [a + step, a + 2 * step, ..., ] 각 숫자를 모두 더하는 함수 작성(step 디폴트값은 1)

# e) d를 class로 작성

# f) best answer?

In [ ]:
# a) tuple/list/set

nums = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)      # all in memory : tuple/list/set/dict...
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]      # list: 원소 변경/삽입/추가/삭제 용이, more memory
nums = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}      # set: 원소 중복 제거, 순서 보장 X
nums = range(1, 11)                         # iterator

sum(nums)

# worse
result = 0
for n in nums:
    result += n
result

55

55

In [ ]:
# a) algorithm: (첫 + 마지막 원소) * n / 2     : best

nums_ = sorted(nums)                # nums.sort()
(nums_[0] + nums_[-1]) * len(nums_) / 2

55.0

In [ ]:
# b) range

nums = range(1, 11)         # range(11)


sum(nums)

# worse
result = 0
for n in nums:
    result += n
result

In [ ]:
# c, d) function/default


def sum_func(a, b):
    if a > b:
        a, b = b, a
    return sum(range(a, b + 1))


def sum_func2(a, b, step=1):
    if a > b:
        a, b = b, a
    return sum(range(a, b + 1, step))

In [7]:
sum_func2(10, 1, 2)

25

In [8]:
# e) class


class AddClass:
    
    def __init__(self, a, b, step=1):
        if a > b:
            a, b = b, a
        self.a = a
        self.b = b
        self.step = step

    def sum_all(self):
        return sum(range(self.a, self.b + 1, self.step))
    
    
sample = AddClass(1, 10, 2)
sample.sum_all()

25

In [ ]:
# f) best : algorithm + function

## 4자리수 단위로 숫자 구분하기

In [2]:
# 임의의 숫자에 대해 만단위, 억단위 등 4자리수 단위로 '_'를 넣어 구분하기

numbers = [200, 10000, 2220000, 33331111, 555556666]

# => '200', '1_0000', '222_0000', '3333_1111', '5_5555_6666'

In [ ]:
# 10_0000 = 10만/억/경
# 100,000 = 100 thousand / million

n = 5_55_55_6666     # int/float에서 _

n
str(n)

555556666

'555556666'

In [31]:
# slicing: indexing과 다르게, 인덱스 범위를 벗어나도 ok!!!

s = 'abcdefg'

# s[0], s[6], s[7]

def str_slice(ix):
    return s[:ix], s[ix:]

str_slice(3)
str_slice(-3)
str_slice(10)
str_slice(-10)

('abc', 'defg')

('abcd', 'efg')

('abcdefg', '')

('', 'abcdefg')

In [78]:
# 문자열 뒤에서 4자리씩 가져오기

n = 5_5555_6666

rs = []
ns = str(n)

while ns:                       # while len(ns) != 0:
    rs.append(ns[-4:])
    ns = ns[:-4]
'_'.join(rs[::-1])

'5_5555_6666'

In [39]:
def num_format(num, k=4, mark='_'):
    rs = []
    ns = str(num)

    while ns:                       # while len(ns) != 0:
        rs.append(ns[-k:])
        ns = ns[:-k]
    return mark.join(rs[::-1])

num_format(555556666)
num_format(555556666, 3)
num_format(555556666, 3, ',')

'5_5555_6666'

'555_556_666'

'555,556,666'

In [ ]:
# 4자리수 단위마다 '_'로 구분된 정수 str을 int형으로 바꿔보기

ns = '5_5555_6666'

int(
    ''.join(ns.split('_'))          # str.split, str.join
)

ns.replace('_', '')                 # str.replace(old, new)

int(ns)                 # 5_5555_6666

555556666

'555556666'

555556666

In [ ]:
# 임의의 숫자에 대해 3자리수 단위마다 ','로 구분하기

# => '200', '10,000', '2,220,000', '33,331,111', '555,556,666'

In [47]:
n = 5_5555_6666

# f-string : format specifier
f"{n:,}"            # f"{n:_}"

f"{n:10}"

'555,556,666'

' 555556666'

In [51]:
s = 'abc'

f"{s:>10}"

'       abc'

In [49]:
n = 123.4567
f"{n}"
f"{n:10.3f}"

'123.4567'

'   123.457'

## 로또 6/45

In [ ]:
# 1 ~ 45가 적혀진 각 공에 대해 총 6개를 뽑는 simulation을 구하시오

# 예) [4, 10, 23, 40, 41, 44]

In [57]:
import random

# random.sample(range(1, 46), 6)            # random.sample(시퀀스/range, k: int)

def draw():
    return sorted(
        random.sample(range(1, 46), 6)
    )

draw = lambda: sorted(random.sample(range(1, 46), 6))

draw()

[6, 14, 28, 32, 34, 39]

In [ ]:
# 한 회차에 각 숫자(1~45)가 출현할 확률은 얼마입니까?

In [58]:
# 각 숫자가 출현할 확률: (44C5 / 45C6)
# nCr = n! / r! / (n-r)!

import math

fac = lambda n: math.factorial(n)

# fac(44) / fac(5) / fac(39) / (fac(45) / fac(6) / fac(39))
# fac(44) / fac(5) / (fac(45) / fac(6))
6 / 45

0.13333333333333333

In [ ]:
# 각 회차의 결과 6개 숫자(list)들에 대해, 모든 회차의 결과가 주어졌을때 각 숫자의 총 출현 횟수 구하기

In [62]:
from collections import defaultdict

result = defaultdict(int)

a_draw = draw()
for d in a_draw:
    result[d] += 1
a_draw
result

[7, 15, 21, 31, 37, 45]

defaultdict(int, {7: 1, 15: 1, 21: 1, 31: 1, 37: 1, 45: 1})

In [63]:
result = defaultdict(int)

def accumulate():
    for d in draw():
        result[d] += 1

accumulate()
result

defaultdict(int, {7: 1, 9: 1, 10: 1, 26: 1, 27: 1, 36: 1})

In [64]:
accumulate()
result

defaultdict(int,
            {7: 1,
             9: 1,
             10: 2,
             26: 1,
             27: 1,
             36: 1,
             1: 1,
             15: 1,
             30: 1,
             33: 1,
             34: 1})

In [ ]:
result = defaultdict(int)

for _ in range(10000):          # 10000회 simulation
    accumulate()

result

defaultdict(int,
            {3: 1321,
             19: 1362,
             22: 1316,
             23: 1310,
             42: 1338,
             43: 1326,
             7: 1298,
             16: 1335,
             21: 1403,
             29: 1339,
             6: 1392,
             9: 1324,
             14: 1301,
             18: 1325,
             30: 1396,
             2: 1351,
             25: 1334,
             37: 1343,
             41: 1309,
             11: 1312,
             26: 1382,
             32: 1307,
             33: 1363,
             10: 1312,
             15: 1285,
             27: 1306,
             39: 1339,
             4: 1336,
             34: 1372,
             5: 1359,
             38: 1393,
             24: 1353,
             35: 1358,
             40: 1309,
             17: 1319,
             45: 1375,
             8: 1331,
             1: 1270,
             44: 1287,
             28: 1333,
             12: 1351,
             36: 1281,
             13: 1311,
             20: 1326,
             31: 1307})

In [ ]:
for k in sorted(result):
    print(f"{k:2}\t{result[k]}")

 1	1270
 2	1351
 3	1321
 4	1336
 5	1359
 6	1392
 7	1298
 8	1331
 9	1324
10	1312
11	1312
12	1351
13	1311
14	1301
15	1285
16	1335
17	1319
18	1325
19	1362
20	1326
21	1403
22	1316
23	1310
24	1353
25	1334
26	1382
27	1306
28	1333
29	1339
30	1396
31	1307
32	1307
33	1363
34	1372
35	1358
36	1281
37	1343
38	1393
39	1339
40	1309
41	1309
42	1338
43	1326
44	1287
45	1375

In [ ]:
# 대수의 법칙: law of large numbers: 모집단(population) ~ 표본(sample) 평균값

result_ = defaultdict(list)

for k, v in result.items():
    result_[v].append(k)

for k in sorted(result_):
    print(f"{k}\t{result_[k]}")

1270	[1]
1281	[36]
1285	[15]
1287	[44]
1298	[7]
1301	[14]
1306	[27]
1307	[32, 31]
1309	[41, 40]
1310	[23]
1311	[13]
1312	[11, 10]
1316	[22]
1319	[17]
1321	[3]
1324	[9]
1325	[18]
1326	[43, 20]
1331	[8]
1333	[28]
1334	[25]
1335	[16]
1336	[4]
1338	[42]
1339	[29, 39]
1343	[37]
1351	[2, 12]
1353	[24]
1358	[35]
1359	[5]
1362	[19]
1363	[33]
1372	[34]
1375	[45]
1382	[26]
1392	[6]
1393	[38]
1396	[30]
1403	[21]

# up & down 숫자맞추기

In [73]:
# 컴퓨터가 1~100 자연수 중 하나를 랜덤으로 정하고, 사용자가 이 숫자를 추측으로 맞추는 게임 작성
# 사용자 추측이 정답보다 작으면 'up', 높으면 'down', 맞추면 '정답'을 출력하세요

int(input('숫자를 입력하세요'))

55555

In [76]:
import random

num = random.randrange(1, 101)

while True:
    guess = int(input('숫자를 입력하세요'))
    if guess < num:
        print('up')
    elif guess > num:
        print('down')
    else:
        print('정답')
        break

up
down
down
up
up
정답

In [ ]:
num = random.randrange(1, 101)

while (guess := int(input('숫자 입력:'))) != num:               # walrus operator
    print('up' if guess < num else 'down')

print('정답', num)

# Fibonacci 수열 구하기: 재귀함수

In [ ]:
# 처음은 0, 1로 시작하고, i번째 값은 직전 두 개(i-1, i-2)의 합으로 이루어진 수열을 구하시오.
# 0, 1, 1, 2, 3, 5, ...
# f(0) = 0, f(1) = 1, f(i) = f(i-1) + f(i-2)

# key: 재귀함수, memoization

# factorial 구하기

In [ ]:
# n! = n * (n-1) * (n-2) * ... * 2 * 1 을 구하는 함수를 작성하시오

# math 라이브러리
# 재귀함수
# 함수
# memoization

# 문자열 압축하기

In [ ]:
# 문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우 그 반복 횟수를 표시하여 압축하기
# 예) aaabbcccccca -> a3b2c6a1

# spiral array

In [ ]:
# 자연수 n에 대해 n by n 매트릭스에 나선형으로 회전하며 0부터 하나씩 증가하는 숫자를 출력하시오

'''
  0   1   2   3   4   5
 19  20  21  22  23   6
 18  31  32  33  24   7
 17  30  35  34  25   8
 16  29  28  27  26   9
 15  14  13  12  11  10
'''